* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "montseratt", sans-serif;
}
.app {
  background: url("./assets/cold-bg.jpg") no-repeat bottom;
  background-size: cover;
  transition: 0.4 ease-out;
}
.app.warm {
  background: url("./assets/warm-bg.jpg") no-repeat bottom;
}
main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
}
.search-box {
  width: 100%;
  margin: 0 0 75px;
}
.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;
}
